<!-- <p>navbar works!</p> -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a [routerLink]="['']" class="navbar-brand">Home</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a routerLink="/products" class="nav-item active nav-link">Shopping List</a>
            <a routerLink="/cart" class="nav item active nav-link">Cart</a>
      
        </ul>

        <form action="#" method="post" class="form-inline my-2 mylg-0">
            <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Enter the Product name" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">submit</button>
        </form>
    </div>
</nav>